.mat-column-language {
    flex: 0 0 20%;
    width:20%;
}
.mat-column-file {
    flex: 0 0 50%;
    width:50%;
}
.mat-column-blank {
    flex: 0 0 10%;
    width:10%;
}
.mat-column-comment {
    flex: 0 0 10%;
    width:10%;
}
.mat-column-code {
    flex: 0 0 10%;
    width:10%;
}