<div>
    <h2 mat-dialog-title>Agregar institución</h2>
    <hr />
    <mat-dialog-content>
        <form [formGroup]="form">

            <div class="form-div">
                <mat-form-field appearance="standard" class="input">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="" formControlName="nombre" maxlength="30" />
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="hasError('nombre', 'required')">Debe ingresar el nombre</mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="input">
                    <mat-label>Razón social</mat-label>
                    <input matInput placeholder="" formControlName="razon_social" maxlength="30" />
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="hasError('razon_social', 'required')">Debe ingresar la razón social</mat-error>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="modal-footer">
        <button class="btn btn-primary btn-rounded" mat-raised-button (click)="onCloseConfirm()"
            [disabled]="form.invalid">Agregar</button>
        <button class="btn btn-danger btn-rounded" mat-raised-button (click)="onCloseCancel()">Cancelar</button>
    </mat-dialog-actions>
</div>