<div>
    <div class="row">
        <div class="col-md-11">
            <h2 mat-dialog-title>Agregar curso</h2>
        </div>
        <div class="col-md-1 ">
            <a href="javascript:void(0)">
                <i mat-button mat-dialog-close class="i-Close-Window text-danger"></i>
            </a>
        </div>
    </div>
    <hr />
    <mat-dialog-content class="mat-dialog-content">
        <form-wizard>
            <wizard-step [title]="'Información básica'" [isValid]="form.valid" (onComplete)="onComplete($event)">
                <form [formGroup]="form">
                    <div class="form-div">
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre del proyecto" formControlName="name" maxlength="70" />
                            <mat-error *ngIf="hasError('name', 'required')">Debe ingresar un nombre para el proyecto
                            </mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Profesor a cargo</mat-label>
                                <mat-select [disabled]="userRole != 'Administrador'" formControlName="teacher_id">
                                    <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{ teacher.name + ' ' + teacher.lastname }}</mat-option>
                                </mat-select>
                            <mat-error *ngIf="hasError('teacher_id', 'required')">Debe ingresar un profesor para el
                                proyecto
                            </mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form-div">
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Semestre</mat-label>
                            <mat-select formControlName="semester">
                                <mat-option [value]="1">
                                    Otoño
                                </mat-option>
                                <mat-option [value]="2">
                                    Primavera
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('semester', 'required')">Debe seleccionar un semestre para el
                                proyecto</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Año</mat-label>
                            <input matInput type="number" placeholder="Año del proyecto" formControlName="year"
                                min="2000" max="2100" />
                            <mat-error *ngIf="hasError('year', 'required')">Debe ingresar un año para el
                                proyecto</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
                </form>
            </wizard-step>
        </form-wizard>
    </mat-dialog-content>
</div>